@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(17,86,102);
    --primary-color-darker: rgb(9, 45, 51);
}
* {
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background:var(--primary-color);
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: #ffff;
    padding: 20px;
    border-radius: 15px;
}

table{
    position: relative;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 90px;
    text-align: center;
}
td,th {
    padding-left: 70px;
    text-align: center;
}
form{
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;   
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    border-radius: 10px;
}

form input :focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #ffff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 25px;
    border-radius: 10px;
}
form button:hover {
    background: var(--primary-color-darker);
}
.paragrafoResultado, .bad {
    background:rgb(109, 255, 182);
    padding: 10px 20px;
    border-radius: 10px;
}
.bad {
    background: rgb(255, 150, 150);
}
